@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/Scripts/Accounts/ChartOfAccountView.js"></script>
}

<body>
    <div class="heading">
        <h2> Chart of Account List</h2>
    </div>
    <div class="row">
        <div class="col-md-12 pre-scrollable" id="chartOfAccountViewForEdit" align="left" style=" margin-top: 15px;">
        </div>
    </div>

</body>
